.header{
    padding-top: 2px;
   
    background-color: green;
    border-radius: 4%;
    }
    .title{
      margin-left: auto;
      margin-left: auto;
      text-align: center;
    }
    navb{
      display: inline;
      float: left;
    }
    .home1,.contact1,.about1{
      color:black;
      text-align: center;
      margin-inline-start: 5px;
      border: 1px solid blue;
      background-color: #818181;
    }
    body{
       background-color: black;
        border: 2px solid black;
    }
    .top{
        display: inline;
        text-align: center;
        margin: 0,10px,10px,0;
        color: black;
    }
    .user{
        float: right;
        color: black;
    }
    .home{
        padding: 0,5px,0,5px;
       background-color: white;
    }
    .top {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .top a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .top a:hover {
        color: #f1f1f1;
      }
      
      .top .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      div>span{
        font-size:30px;
        cursor:pointer;
        float: left;
        background-image: url("black.jpg");
        color: whitesmoke;
      #main {
        transition: margin-right .5s;
        padding: 16px;
      }
      
      @media screen and (max-height: 450px) {
        .top {padding-top: 15px;}
        .top a {font-size: 18px;}
      }
      * {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 20%;
}

button:hover {
  opacity:20%;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
  color: #f1f1f1;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
      